#cft-nav-wrapper {
    ul {
        list-style-type:none;
        margin:0;
        padding: 0px;
        display:flex;
        height: 100%;
        flex-direction: row;
        // justify-content: space-evenly;
        text-transform:uppercase;
        border: 1px solid;

        a {
            font-size: .75rem;
            color: darkgreen;
            padding-bottom: 3px;
             &:hover,
             &:focus,
             &:active {
                 color: #ffffff;
             }
            

        }
        li {
            width: 18%;
        }

        div {
            padding: 5px;
            width: 100%;
            background-color: #ffffff;
            border-left: 1px solid;

            &:hover,
            &:focus,
            &:active {
                color:#ffffff;
                background-color: #66c368;
            }
            
        }

        div.active {
            text-decoration:none;
            background-color: #66c368;
            font-weight:bold;
            // color: white;
        }
    }
  
}
