.main-nav-wrapper {
    display:flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color:#20aa3f;
    color: #ffffff;

    div {
        margin-left: 10px;
        
    }

    .logo {
        display:flex;
        flex-direction: row;
    }

    div:last-child {
        align-self: center;
    }

    a {
        color: #ffffff;

        &:hover,
        &:focus {
            color:#66c368;
        }
    }

    span {
        align-self:center;
        font-size: 1.8rem;
        padding: 3px;
        margin-right: 4px;
    }
}







.toggle-button_line {
    width: 30px;
    height: 2px;
    margin-top:5px;
    margin-bottom: 5px;
    background: white;
}


@media screen and (max-width: 450px) {
    .toggle-button {
        display:in-line;
    }
}