.question-wrapper {
    margin: 10px;
    padding: 20px;

    div {
        margin-bottom: 30px;

        .question-type {
            font-size: 1.8rem;
            text-align:left;
           
        }

    }

    


    input {
        text-align: center;
        margin: 20px 0px;
    }

    div:last-child {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        
        button {
            font-size: .75rem;
            color: #000000;
            background-color: #66c368;
            text-transform:uppercase;
            border:1px solid black;
            padding:10px;
            margin:20px;
    
            &:hover,
            &:focus {
                color:#ffffff;
                background-color:darkgreen;
            }
            
        }
    }

    .income {
        font-size: 2rem;
        color:#66c368;
        font-style:bold;
        text-align:left;
        text-transform:uppercase;
    }

    .expenses {
        font-size: 2rem;
        color:red;
        font-style:bold;
        text-align:left;
        text-transform:uppercase;
    }
}
