* {
  box-sizing: border-box;
}

:root{
  --green-color: #1e9642;
  --green-text-color: #6B8E23;
  --green-nav-color:#20aa3f;
  --other-color:#20aa3f;
  --darker-blue-color: ;
  --background-light: #ffffff;
  --button-red-color:#b63014;
  --button-red-focus-color:#d14124;
  --button-green-color: #20aa3f;
  --button-green-focus-color: #66c368;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
